@import "https://30sec.oss-cn-guangzhou.aliyuncs.com/public/SanCFont.css";

/* 字体 */

html {
    font-family: "Noto Sans SC";
}

div {
    font-family: "Noto Sans SC";
}

section.cover {
    background-color: #000 !important;
}


/* 这个是主体的框架，限制不能太大 */

.markdown-section {
    max-width: 1024px !important;
    margin-left: 0px;
    padding: 35px;
}

.sidebar-toggle {
    top: 10px;
    right: 0px;
    left: 10px;
    bottom: auto;
}

.search {
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    .markdown-section {
        padding: 20px;
    }
}